# Entorno virtual
.venv/

# Python
__pycache__/
*.pyc

# VS Code
.vscode/

# Archivos del sistema
.DS_Store
Thumbs.db

# MLflow
mlruns/
mlflow.db

# Modelos entrenados
model_champion/

# Variables de entorno
.env

# Artefactos temporales del entrenamiento
artifacts_encoders/

# Baseline generado
data/baseline_reference.csv